@font-face {
    font-family: 'Science';
    src: url('../fonts/ScienceGothic-VariableFont_CTRS\,slnt\,wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to right, #eac291, #f4d8b6, #f4d8b6, #f4d8b6, #eac291);
}

header {
    width: 95%;
    height: 12.5vh;

    margin: 20px auto;
    border-radius: 5px;
    opacity: 0;
    
    background-color: #de9c5f;
    box-shadow: 0px 3px 10px #4a2c03;
}

.is-visible-top {
    animation-name: show-block-top;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

@keyframes show-block-top {
    0% {
        transform: translateY(-40vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 10vh;

    text-decoration: none;
}
#logo:hover #logo-text {
    color: white;
}
#logo-image {
    width: auto;
    height: 100%;
    margin-right: 10px;

    border: 2px solid #c58a52;
    border-radius: 12.5%;

    background-color: #fdeed9;
}
#logo-text {
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Science', Arial, Helvetica, sans-serif;

    color: #f2dab2;

    transition: all .3s ease;
}

#sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 9vh;

    border-radius: 10px;
    
    background-color: #ce8b4d;
    box-shadow: 0px 0px 2.5px #3f2b05;
}
.section {
    position: relative;

    margin: 0 25px;

    font-size: 1.6em;
    font-weight: 600;

    color: #ece5c3;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;

    transition: all .5s ease;
}
.section::after {
    content: "";
    position: absolute;

    width: 0;
    height: 4px;
    left: 50%;
    bottom: -8px;
    border-radius: 2px;

    background-color: #ecbe1b;

    transition: all .5s ease;
}
.section:hover {
    color: #fcf4e5;
}
.section:hover::after {
    width: 100%;
    left: 0;
}


main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;
    /* padding: 1.5vh 0; */
}

.block {
    padding-top: 2vh;
    padding-bottom: 5vh;

    width: 80%;
    height: max-content;
    border-radius: 10px;
    margin: 10px auto;
    
    background-color: #e8ba8f;
    box-shadow: 0px 0px 10px #653d05;

    opacity: 0;
}

.is-visible {
    animation-name: show-block;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes show-block {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.desc-section-title {
    font-size: 2.3em;
    font-weight: bold;

    /* width: max-content; */
    height: max-content;

    margin: 0 7%;
    padding-top: 2vh;

    font-family: Arial, Helvetica, sans-serif;

    color: #a06732;
}
.desc-text {
    font-size: 1.3em; 

    /* width: 85%; */
    height: max-content;
    margin: 0 8%;

    color: #a96321;
}
.desc-text a {
    color: #bb3d2c;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 95%;
    height: 21.5vh;
    margin: 20px auto;

    border-radius: 5px;
    
    background: linear-gradient(to bottom, #de9c5f, #de9c5f, #e1a063, #e3a66d, #e3a66d, #e3a66d, #e3a66d, #e1a063);
    box-shadow: 0 -0.5px 10px #4a2c03;
}

#copyright {
    width: auto;

    margin: 0 4%;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    padding: 0.5vh 2%;

    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    border: 3px solid #d08f45;
    border-radius: 10px;

    background-color: #d69851;
    color: #fcf4e5;
}

#links {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);

    width: 80%;
    margin: 0 auto;
}
#links div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 4.5vh;
    margin-top: 1vh;
    padding: 0 1.5%;

    border-radius: 8px;

    text-decoration: none;
    
    background-color: #de9c5f;
}
.link:hover {
    background-color: #c58a52;
}
.link img {
    width: auto;
    height: 80%;
}
.link p {
    margin-left: 3px;

    color: #fbecd9;
}

@media (max-width: 1100px) {    
    #sections {
        height: 8vh;
    }
    .section {
        font-size: 1.4em;
    }

    #logo {
        height: 9vh;
    }
    #logo-text {
        font-size: 2.25em;
    }

    footer {
        height: 20vh;
    }

    #links {
        width: 100%;
    }
    #copyright {
        font-size: 1em;
    }
    .link {
        height: 3.5vh;
        font-size: 0.8em;
    }
}

@media (max-width: 900px) {
    header {
        height: 10vh;
        margin: 15px auto;
    }
    
    #header {
        padding: 0 5%;
    }

    #logo {
        height: 8vh;
    }
    #logo-text {
        font-size: 2em;
    }

    #sections {
        height: 7vh;
    }
    
    .section {
        font-size: 1.2em;
        margin: 0 15px;
    }

    .block {
        width: 90%;
        margin: 1vh auto;
    }
    .desc-section-title {
        font-size: 2em;
    }
    .desc-text {
        font-size: 1em;
    }

    footer {
        height: 20vh;
    }

    #links {
        grid-template-rows: repeat(3, 1fr);
    }
    #copyright {
        font-size: 0.85em;
    }
    .link {
        height: 2.5vh;
        font-size: 0.7em;
    }
}

@media (max-width: 600px) {
    header {
        height: 10vh;
        margin: 10px auto;
    }

    #logo {
        height: 6.5vh;
    }
    #logo-text {
        font-size: 1.35em;
    }

    #sections {
        height: 6.5vh;
    }
    .section {
        font-size: 0.8em;
    }

    .block {
        padding-top: 1vh;
        padding-bottom: 3vh;
    }

    .desc-section-title {
        font-size: 1.45em;
    }
    .desc-text {
        font-size: 0.8em;
    }

    footer {
        margin: 15px auto;
    }
}

@media (max-width: 450px) {
    header {
        height: 7vh;
    }

    #logo {
        height: 4vh;
    }
    #logo-text {
        font-size: 0.8em;
    }

    #sections {
        height: 4.5vh;
        border-radius: 7.5px;
    }
    .section {
        font-size: 0.65em;
        margin: 0 7.5px;
    }

    .desc-section-title {
        font-size: 1.1em;
    }
    .desc-text {
        font-size: 0.65em;
    }
    
    footer {
        height: 16vh;
    }

    #copyright {
        font-size: 0.7em;
    }
    .link {
        height: 1.75vh;
        font-size: 0.55em;
    }
}